:host {
  display: block;
  min-height: 500px;
  min-height: 100%;
  min-height: 100vh;
  font-size: 14px;
}

#main-wrap {
  min-height: 400px;
  min-height: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  /*margin-bottom: -370px; /* Footer heigth + 10px(????) */
  /*padding-bottom: 370px; /* Footer heigth + 10px(????) */
  & > * {
    display: block;
    width: 100%;
  }
}

.content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

#atkn {
  display: none;
  height: 0px;
}