<h1>Send location (Test)</h1>
<form ngNoForm action="/api/point/add" method="post" type="multipart/form-data">
    <input type="text" name="lat" placeholder="Lat" [(ngModel)]="lat">
    <input type="text" name="lng" placeholder="Lon" [(ngModel)]="lng">
    <br/>
    <br/>
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="description" placeholder="Description">
    <br/>
    <br/>
    <input type="file" name="image" id="image">
    <button type="submit" name="submit">Отправить</button>
</form>