:host {
  display: block;
  width: 100%;
  height: 100%;
}
#map {
  position: fixed !important;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}
#add-point {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #0093ff;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 40px;
  text-align: center;
  z-index: 5000;
  cursor: pointer;
  &:hover {
    color: #EEEEEE;
  }
}

#follow-me {
  position: fixed;
  top: 70px;
  right: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #0093ff;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 40px;
  text-align: center;
  z-index: 5000;
  cursor: pointer;
  &:hover {
    color: #EEEEEE;
  }
}

#pointinfomodal,
#addpointdialog {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
  max-width: 300px;
  margin: 0;
  padding: 20px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);

  .close {
    position: absolute;
    top: -5px;
    right: 0px;
    z-index: 2;
    width: 22px;
    height: 22px;
    font-size: 22px;
    cursor: pointer;
  }

  h3 {
    margin: 0 0 10px;
    font-size: 16px;
    color: #111111;
  }
}

#addpointdialog {
  input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    border-radius: 3px;
    border: solid 1px #9d9d9d;
    &:hover,
    &:active {
      border-color: #211c1c;
    }
  }
  textarea {
    display: block;
    width: 100%;
    line-height: 30px;
    min-height: 60px;
    resize: vertical;
    padding: 0 5px;
    outline: none;
    border-radius: 3px;
    border: solid 1px #979797;
    margin-bottom: 10px;
  }
  button {
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background-color: #0093ff;
    color: #FFFFFF;
  }
}
#pointinfomodal {
  .point-left {
    width: 50%;
    float: left;
    padding-right: 5px;
    overflow: hidden;
    img {
      display: block;
      width: 125px;
      height: 125px;
    }
  }
  .point-right {
    width: 50%;
    float: left;
    padding-left: 5px;
    overflow: hidden;
    span {
      display: block;
      margin-bottom: 5px;
    }
  }
}