<div id="map"></div>
<div id="follow-me" class="mdi mdi-near-me" (click)="followMe()"></div>
<div id="add-point" class="mdi mdi-plus" (click)="addPoint()"></div>


<div id="addpointdialog" *ngIf="showaddpointdialog">
  <div class="dialog-content">
    <div class="close mdi mdi-close" (click)="closeAddMarkerDialog()"></div>
    <h3>Add point</h3>
    <form action="" id="addpointform">
      <input type="text" name="title" placeholder="Название" [(ngModel)]="newpoint.title">
      <textarea type="text" name="description" placeholder="Описание" [(ngModel)]="newpoint.description"></textarea>
      <input type="file" name="image"
        [(ngModel)]="imagefile"
        (change)="selectImage($event)"
        multiple="false">
      <button type="submit" name="submit" (click)="addPointProcess()">Добавить</button>
    </form>
  </div>
</div>


<div id="pointinfomodal" *ngIf="activePoint">
  <div class="dialog-content">
    <div class="close mdi mdi-close" (click)="closePointInfoModal()"></div>
    <h3>Point info</h3>
    <div class="point-left">
      <img src="/img/no-image.png"  *ngIf="!activePoint.image" width="120px" alt="">
      <img [src]="activePoint.image" *ngIf="activePoint.image" width="120px" alt="">
    </div>
    <div class="point-right">
      <span>{{activePoint.title}}</span>
      <span>{{activePoint.description}}</span>
      <span>{{activePoint.create_datetime}}</span>
    </div>
</div>