/*Header placeholder */
:host {
  display: block;
  width: 100%;
  height: 50px;
}

#header {
  z-index: 8000;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: #0093ff;
  text-align: center;
  /*#logo {
    position: absolute;
    top: 0;
    left: 20px;
    padding: 0;
    margin: 3px 20px;
    height: 44px;
    width: 100px;
    font-size: 24px;
    line-height: 44px;
    text-align: left;
    color: #FFFFFF;
    z-index: 8001;
  }*/

  #navbar {
    display: inline-block;
    /*padding: 0 200px 0 150px;*/
    padding: 0 10px;
    height: 50px;
    overflow: hidden;
    color: #FFFFFF;
    text-align: center;
    background-color: transparent;
    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    a {
      float: left;
      margin: 0 10px;
      padding: 0 5px;
      max-width: 180px;
      height: 50px;
      border-bottom: 4px solid transparent;
      color: #FFFFFF;
      &:hover,
      &.active {
        border-bottom-color: white;
      }
      i {
        position: absolute;
        left: 0px;
        top: 14px;
        height: 22px;
        font-size: 22px;
        line-height: 22px;
      }
      span {
        width: 100%;
        display: block;
        font-size: 14px;
        letter-spacing: 0.4px;
        line-height: 50px;
        padding-left: 30px;
      }
    }
  }
}

