<div id="header">
  <nav id="navbar">
    <a [routerLinkActive]="['active']"
       [routerLinkActiveOptions]="{exact:true}"
       [routerLink]="['/']">
      <i class="mdi mdi-map"></i>
      <span>Карта</span>
    </a>
    <a [routerLinkActive]="['active']"
       [routerLink]="['/addpoint']">
      <i class="mdi mdi-map-marker"></i>
      <span>Добавить точку</span>
    </a>
  </nav>
</div>